<div class="container">
    <form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="row mt-5">
            <div class="col-md-12 page-title">
                Create Employee
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 page-url">
                Employees &#62; <span id="active-url">Create Employee</span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 subtitle">
                Personal Details
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder="Ex: John" required formControlName="first_name">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('first_name').invalid && createEmployeeForm.get('first_name').touched) || submitted">Firstname
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Lastname</mat-label>
                    <input matInput placeholder="Ex: Doe" required formControlName="last_name">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('last_name').invalid && createEmployeeForm.get('last_name').touched) || submitted">Lastname
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="(createEmployeeForm.get('date_of_birth').invalid && createEmployeeForm.get('date_of_birth').touched) || submitted">DOB
                        is required.</mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex: nick.williams@email.com" required formControlName="email">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('email').invalid && createEmployeeForm.get('email').touched)|| submitted">Please
                        provide a valid email address</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="Ex: 7819225333" required formControlName="mobile">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('mobile').invalid && createEmployeeForm.get('mobile').touched) || submitted">Mobile
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <label class="mb-1">Gender</label>
                <mat-radio-group aria-label="Select an option" class="example-radio-group" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="createEmployeeForm.get('gender').invalid && submitted" style="font-size: 10px;"
                    class="mt-1">Gender
                    is required.</mat-error>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 subtitle">
                Address Details
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Address Line1</mat-label>
                    <input matInput placeholder="Ex: 790" required formControlName="house_no">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('house_no').invalid && createEmployeeForm.get('house_no').touched) || submitted">Address
                        Line1
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Address Line2</mat-label>
                    <input matInput placeholder="Ex: Maple St" required formControlName="street">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('street').invalid && createEmployeeForm.get('street').touched) || submitted">Address
                        Line2
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex: Houston" required formControlName="city">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('city').invalid && createEmployeeForm.get('city').touched) || submitted">City
                        is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>State</mat-label>
                    <mat-select required formControlName="state">
                        <mat-option *ngFor="let state of states" [value]="state">
                            {{state}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="(createEmployeeForm.get('state').invalid && createEmployeeForm.get('state').touched) || submitted">State
                        is required.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Postcode</mat-label>
                    <input matInput placeholder="Ex: 77001" formControlName="postcode">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 subtitle">
                Employment Details
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Salary ($)</mat-label>
                    <input matInput placeholder="Ex: 50000" required type="number" formControlName="salary">
                    <mat-error
                        *ngIf="(createEmployeeForm.get('salary').invalid && createEmployeeForm.get('salary').touched) || submitted">Salary
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Department</mat-label>
                    <mat-select required formControlName="department">
                        <mat-option *ngFor="let department of departments" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="(createEmployeeForm.get('department').invalid && createEmployeeForm.get('department').touched) || submitted">Department
                        is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Designation</mat-label>
                    <mat-select required formControlName="position">
                        <mat-option *ngFor="let designation of designations" [value]="designation">
                            {{designation}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="(createEmployeeForm.get('position').invalid && createEmployeeForm.get('position').touched) || submitted">Designation
                        is required.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-5 d-flex justify-content-between">
            <div class="col-md-2">
                <button mat-raised-button color="warn" class="w-100" type="button">Reset</button>
            </div>
            <div class="col-md-2">
                <button mat-raised-button color="primary" class="w-100" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>