/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$brand-primary-color: #4D4DFF;
$brand-primary-light: #d3deff;
$brand-sidebar-color: #3655b3;
$brand-heading-color: #2E3033;
$brand-font-family: 'Poppins', sans-serif;
$brand-text-color: #707070;
$brand-accent-color: #4dffff;
$brand-warning-color: #ffb84d;
$brand-success-color: #36b387;
$brand-danger-color: #ff4d4d;

* {
    font-family: $brand-font-family;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}