@import "../styles.scss";

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;

    mat-sidenav {
        background-color: $brand-sidebar-color;


        mat-nav-list {
            height: 90%;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;

            mat-icon {
                color: #A9A9A9;
            }

            .activatedMenuItem {
                color: white !important;
            }

            #logo {
                font-size: 32px;
                font-weight: 700;
                margin-right: 8px;
                margin-bottom: 12px;
                margin-top: 35px;
                color: white;
            }

            .menu-item {
                margin-left: 8px;
                font-family: $brand-font-family;
                color: #A9A9A9;
                font-weight: 300;
            }

            .chevron-button {
                margin-top: 30px;
                transition: 300ms ease-in-out;
                transform: rotate(0deg);
            }

            .chevron-button.rotated {
                display: none;
                transform: rotate(180deg);
            }
        }
    }

    #logo-toolbar {
        font-size: 32px;
        font-weight: 700;
        color: $brand-sidebar-color;
    }
}