<mat-sidenav-container autosize>
    <mat-sidenav mode="side" opened="true" #sidenav>
        <mat-nav-list class="nav-list">

            <div class="top-content">
                <mat-list-item class="mb-5">
                    <span *ngIf="isExpanded" class="menu-item" id="logo" matListItemTitle>Workforce-X</span>
                    <mat-icon matListItemIcon class="chevron-button" (click)="isExpanded = !isExpanded"
                        [ngClass]="{ rotated: isExpanded }">chevron_right</mat-icon>
                </mat-list-item>

                <mat-list-item routerLink="/">
                    <mat-icon matListItemIcon routerLinkActive="activatedMenuItem"
                        [routerLinkActiveOptions]="{exact: true}">dashboard</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle routerLinkActive="activatedMenuItem"
                        [routerLinkActiveOptions]="{exact: true}">Dashboard</span>
                </mat-list-item>

                <mat-list-item routerLink="/employees">
                    <mat-icon matListItemIcon routerLinkActive="activatedMenuItem">people</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle
                        routerLinkActive="activatedMenuItem">Employees</span>
                </mat-list-item>

                <mat-list-item routerLink="/departments">
                    <mat-icon matListItemIcon routerLinkActive="activatedMenuItem">apartment</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle
                        routerLinkActive="activatedMenuItem">Departments</span>
                </mat-list-item>

                <mat-list-item routerLink="/projects">
                    <mat-icon matListItemIcon routerLinkActive="activatedMenuItem">bolt</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle
                        routerLinkActive="activatedMenuItem">Projects</span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListItemIcon routerLinkActive="activatedMenuItem">mail</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle
                        routerLinkActive="activatedMenuItem">Messages</span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListItemIcon routerLinkActive="activatedMenuItem">event</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle
                        routerLinkActive="activatedMenuItem">Events</span>
                </mat-list-item>
            </div>

            <div class="bottom-content">
                <mat-list-item>
                    <mat-icon matListItemIcon>tune</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle>Settings</span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListItemIcon>logout</mat-icon>
                    <span *ngIf="isExpanded" class="menu-item" matListItemTitle>Logout</span>
                </mat-list-item>
            </div>

        </mat-nav-list>
    </mat-sidenav>

    <!-- rendered content for the current router path -->
    <mat-sidenav-content>
        <mat-toolbar>
            <span *ngIf="!isExpanded" id="logo-toolbar">Workforce-X</span>
            <span *ngIf="isExpanded" (click)="isExpanded = !isExpanded">
                <mat-icon style="cursor: pointer;">segment</mat-icon>
            </span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>