@import "../../../styles.scss";

.page-title {
    font-family: $brand-font-family;
    font-size: 24px;
    font-weight: 700;
    color: $brand-heading-color;
}

.page-url {
    font-family: $brand-font-family;
    font-size: 12px;
    color: $brand-text-color;
}

#active-url {
    color: $brand-primary-color;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

// td,
// th {
//     width: 25%;
// }